*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Poppins", sans-serif;
    font-weight: 320;
}

.hero__section{
    background: url(./images/heroSectionBackground.png);
    background-size: cover;
    background-position: center;
    min-height: 60.5vh;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 230px;
    height: 65px;
}


.navbar__menu_container{
    display: flex;
    gap: 30px;
}

.navbar__menu_container a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.Get_App{
    display: inline-block;
    font-size: 14px;
}
.Get_App_icon{
    height: 10px;
    filter: invert(100%);
}
.Get_App a{ 
    font-weight: 420;
    height: 8px;
    color: white;
    text-decoration: none;
}


.navbar__menu_container .user_icon{
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    border: solid 1px white;
    display: none;
}
/* Screen size: 0 to 600 */
@media only screen and (max-width: 600px){
    .navbar__menu_container .user_icon{
        display: flex;
        color: rgb(239, 79, 95);
        height: 30px;
        width: 30px;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        border: solid 1px white;
    }
    .link{
        display: none;
    }
    .hero__section{
        min-height: 80vh;
    }
}