*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Poppins", sans-serif;
    font-weight: 320;
}

.hero__section{
    background: url(./images/heroSectionBackground.png);
    background-size: cover;
    background-position: center;
    min-height: 60.4vh;
    color: white;
    width: 100%;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 14%;
    height: 65px;
}


.navbar__menu_container{
    display: flex;
    gap: 30px;
}

.navbar__menu_container a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
}

.Get_App{
    display: inline-block;
    font-size: 14px;
}
.Get_App_icon{
    height: 10px;
    filter: invert(100%);
}
.Get_App a{ 
    font-weight: 420;
    height: 8px;
    color: white;
    text-decoration: none;
}


.navbar__menu_container .user_icon{
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    border: solid 1px white;
    display: none;
}

.hero__section_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    height: calc(60.4vh - 64px) /*360px*/ ;
    position: relative;
    top: -28px;
}
.hero__section_logo{
    width: 280px;
    height: auto;
    position: relative;
    top: -8px;
}

.hero__section_title{
    text-align: center;
    font-size: 32px;
    font-weight: 350;
}


.hero__section_container_input{
    background-color: white;
    border-radius: 10px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 0 12px 0 12px;
    cursor: text;
}

.client_location{
    font-weight: 480;
}

.input_container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    cursor: text;
}
.location_icon{
    height: 22px;
    filter: invert(50%) sepia(100%) saturate(500%) hue-rotate(310deg);
    opacity: 90%;
    position: relative;
    top: -1px;
    cursor: default;
}
.input_container_location{
    border: none;
    font-size: 14px;
    cursor: text;
}
.input_seperator{
    border: none; /* Remove default border */
    border-left: 2px solid rgb(182, 182, 182); /* Line thickness and color */
    height: 20px; /* Line height */
    width: 0; /* No horizontal width */
}
.search_icon{
    height: 22px;
    color: rgb(44, 44, 44);
    opacity: 68%;
    /* rotate: -45deg; */
    position: relative;
    top: -1px;
    cursor: default;
}
.input_container_search{
    height: 20px;
    width: 460px;
    margin-left: 10px;
    border: none;
    font-size: 14px;
}
input:focus{
    outline: none;
    
}



/*----- Screen size: 0 to 600 -----*/

@media only screen and (max-width: 600px){

    .navbar__menu_container .user_icon{
        display: flex;
        color: rgb(239, 79, 95);
        height: 30px;
        width: 30px;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        border: solid 1px white;
    }
    .link{
        display: none;
    }
    .hero__section{
        min-height: 80vh;
    }
    .navbar{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 20px;
        height: 65px;
    }


    .hero__section_container{
        margin-top: 80px;
        position: relative;
        top: -32px;
    }

    .hero__section_logo{
        width: 50%;
        height: auto;
    }

    .hero__section_title{
        font-size: 18px;
        font-weight: 400;
    }

    .client_location{
        font-weight: 500;
    }


    .hero__section_container_input{
        background-color: transparent;
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 8px;
    }
    
    .input_container{
        background-color: white;
        border-radius: 6px;
        height: 36px;
        width: 98%;
        display: flex;
        align-items: center;
        justify-content: left;
        gap: 4px;
    }
    .location_icon{
        margin-left: 12px;
    }
    .input_container_location{
        width: auto;
        padding: 0 0 0 10px;
    }
    .input_seperator{
        display: none;
    }
    .search_icon{
        margin-left: 12px;
    }
    .input_container_search{
        width: 70vw;
        border: none;
    }

}





/*out of media query*/

.container{
    margin: 2rem auto;
    width: 90%;
}
.we__offer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}
.we__offer_card{
    height: 240px;
    width: 350sspx;
    border-radius: 15px;
    overflow: hidden;
    border: solid 1px #e0e0e0;
    transition: all 0.3s ease-out;
    cursor: pointer;
}
.we__offer_image{
    height: 150px;
    width: 100%;
    overflow: hidden;
}
.we__offer_image img{
    width: 100%;
    object-fit: cover;
    object-position: center;
}

#OrderOnline{
    position: relative;
    top: -78px
}

#Dining{
    transform: scale(1.3);
    position: relative;
    top: -25px
}

#LiveEvents{
    position: relative;
    top: -58px
}

.we__offer_card h1{
    font-size: 20px;
    font-weight: 400;
    margin: 8px 18px 0 18px;
    
}
.we__offer_card p{
    font-size: 16px;
    color: rgb(78, 78, 78);
    margin: 0 18px;
}

.we__offer_card:hover{
    transform: scale(1.08);
}










.container{
    margin: 3rem auto;
    width: 90%;
}

.collections{
    margin: 3rem auto;
    width: 1086px;
    align-items: center;
    margin-top: 80px ;
}

.collections h1{
    font-size: 36px;
    font-weight: 500;

}

.collections__sub_heading{
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}

.collections__sub_heading span:nth-child(2){
    color: rgb(239, 79, 95);
    cursor: pointer;
    font-size: 16px;
}

.collections__sub_heading .arrow{
    width: 8px;
    height: 12px;
    margin-left: 8px;
    filter: invert(50%) sepia(100%) saturate(500%) hue-rotate(310deg);
    cursor: pointer;
}


.collections__card_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 36px;
    gap: 0.6rem;
}

.collections__card_container .cards{
    height: 320px;
    width: 264px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    position: relative;
    z-index: -5;
}

.card1 {
    background-image: url('images/collection1.jpg');
}

.card2 {
    background-image: url('images/collection2.jpg');
}

.card3 {
    background-image: url('images/collection3.jpg');
}

.card4 {
    background-image: url('images/collection4.jpg');
}

.cards .overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    background-image: linear-gradient(
        rgba(225, 0, 0, 0)40% ,rgba(0, 0, 0, 0.5) 75%,rgba(0, 0, 0, 0.75) 100%
    );
    z-index: 5;
}

.collections__card_container .cards .content{
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    padding: 12px 16px;
    font-size: 0.9rem;
    z-index: 100;
}

.collections__card_container .cards .content h4{
    font-size: 16px;
    font-weight: 300;
    color: white;
    letter-spacing: 0.4px;
}


.collections__card_container .cards .content span img{
    width: 6.5px;
    height: 10px;
    position: relative;
    bottom: -0.5px;
    margin-left: 6px;
    filter: invert(100%); /*sepia(100%) saturate(0%) hue-rotate(310deg); white*/
}










/* ----GET THE APP SECTION ----  */

.get_the_zomato_app{
    background-color: #FFFBF7;
    height: 480px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 60px;
    padding: 0 300px;
    gap: 40px;
}


.mobile_banner{
    height: 266px;
    width: auto;
    margin-top: 124px;
}



.get_the_zomato_app_section{
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-top: 58px;
    gap: 14px;
}
.get_the_zomato_app_section h1{
    font-weight: 500;
    font-size: 42px;
}
.get_the_zomato_app_section p{
    font-size: 15px;
    font-weight: 200px;
    line-height: 30px;
    color: #363636;
    margin: 0 0 10px 0;

}
.input_type{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
}
.input_choice{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.input_choice input[type="radio"]:checked {
    background-color: red;
    border-color: red;
    color: red;
  }
.input__section{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}
.input__section input{
    border: 1px solid rgba(0, 0, 0, 0.18);
    height: 48px;
    width: 292px;
    border-radius: 6px;
    padding-left: 12px;
}
.input__section .input_phone{
    display: none;     /*flex*/
    align-items: center;
    justify-content: center;
}
select {
    border: none;
    width: 70px; 
    height: auto;
    overflow-y: auto; /* Enable vertical scrolling */
    text-align: center;
    cursor: pointer;
  }

.input__section button{
    height: 48px;
    width: 150px;
    border: none;
    border-radius: 6px;
    background-color: rgb(239, 79, 95);
    font-size: 16px;
    color: white;
}

.get_the_zomato_app_section span{
    font-size: 14px;
    color: #3636368f;
    margin: 10px 0 15px 0;
}
.get_the_zomato_app_links{
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}
.get_the_zomato_app_links img{
    height: 40px;
}




























.explore_near_me{
    background-color: #FCFCFC;
    height: 480px;
    padding: 0 210px;
    /* width: 1086px; */
}
.explore_options{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1.5rem;
}
.explore_near_me h1{
    color: #363636;
    font-size: 30px;
    font-weight: 400;
    padding-top: 50px;
    padding-bottom: 20px;
}
.explore_options .dropdown{
    background-color: #FFFFFF;
    width: 100%;
    height: 64px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    cursor: pointer;
}
.dropdown button{
    border: none;
    background-color: #FFFFFF;
    font-size: 20px;
    width: 1020px;
    text-align: left;
    padding-left: 14px;
    cursor: pointer;
}
.dropdown span{
    width: 10px;
    height: auto;
    font-weight: 600;
    transform: rotate(90deg);
    padding-right:20px;
    padding-top: 22px;
}









footer{
    background-color: #F8F8F8;
    height: 480px;
    padding: 62px 210px 0 210px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    
}

footer .footer_head{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;  
}

.footer_logo{
    height: 28px;
    width: auto;
}
.footer_head_group{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.group_button{
    height: 36px;
    font-size: 24px;
    background-color: #F8F8F8;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 10px;
}
.group_button button{
    border: none;
    font-size: 18px;
    background-color: #F8F8F8;
    width: auto;
}
.group_button img{
    height: 20px;
    width: auto;
}
.group_button span{
    width: 6px;
    height: auto;
    font-weight: 600;
    transform: rotate(90deg);
    padding-right:20px ;
}

.navigation_container{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 40px;
}





.link__container{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 6px;
}
.link__container h5{
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 2px;
}
.footer__link{
    font-size: 14px;
    text-decoration: none;
    color: #363636c4;
}
.disclaimer{
    margin-top: 24px;
    font-size: 14px;
    color: #363636bf;
}